.App {
  text-align: center;
  
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 50px;
}

.App-header {
  background-color: #222;
  height: 200px;
  margin-bottom: 1px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.App-body {
  background-color: #000000;
    background: url("lis_bg.png") no-repeat center center ;
    height: 800px;
    width:100%;
    color: white;
    opacity: .8;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.dashboard-body {
  background-color: #000000;
    background: url("lis_bg.png") no-repeat center center ;
    height: 800px;
    width: 75%;
    float:right;
    color: white;
    opacity: .4;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.jumbotron {
    background-color:#000 !important; 
    color: #ffffff;
 
}

